<div id="<%= dom_id link %>" class="link">
  <%= link_to link.url do %>
    <h2><%= link.title %></h2>
    <p><%= link.url %></p>
  <% end %>

  <div class="description">
    <%= link.description %>
  </div>
</div>
