<div id="<%= dom_id link %>" class="link">
  <a href="<%= link.url %>">
    <h2><%= link.title %></h2>
    <p><%= link.url %></p>
  </a>

  <div class="posted-by">
    <small>Posted by: <%= link.user.username %></small>
  </div>

  <div class="description">
    <%= link.description %>
  </div>
</div>
