<p style="color: green"><%= notice %></p>

<%= link_to "links", links_path %>

<hr/>

<%= render @link %>

<div>
  <%= link_to "edit", edit_link_path(@link) %> |
  <%= button_to "delete", @link, method: :delete, class: "button" %>
</div>
