<p style="color: green"><%= notice %></p>

<%= render @link %>

<div>
  <%= link_to "Edit", edit_link_path(@link) %> |
  <%= button_to "Delete", @link, method: :delete %> |
  <%= link_to "Back to links", links_path %>
</div>
