<p style="color: green"><%= notice %></p>

<div class="link-details">
  Submitted by <%= link_to @link.user.username, user_path(@link.user), class: "username" %></a> on <%= @link.created_at.in_time_zone.strftime('%B %d, %Y at %I:%M %p') %>
</div>

<br/>

<%= render @link %>

<div class="link-controls">
  <% if @link.user == current_user %>
    <%= link_to "edit", edit_link_path(@link) %> &middot;
    <%= button_to "delete", @link, method: :delete, class: "button" %>
  <% end %>
</div>

<% if signed_in? %>
  <div class="comment-form">
      <%= render "comments/form", comment: @comment %>
  </div>
<% end %>

<div class="comments">
  <% @link.comments.order(created_at: :desc).each do |comment| %>
    <% if comment.persisted? %>
      <%= render comment %>
    <% end %>
  <% end %>
</div>
